*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

/* Header - Menu */
.menu {
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
}

.menu nav a {
    color: #fff;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

/* Fixar Menu - Topo */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* O header ocupa 100% da tela */ 
    z-index: 100; /* Coloca o header acima de outros elementos*/
}

/* Configuração da seção Início */
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 40px;
    margin-top: 35px;
}

.botao {
    background-color: #FF9A6C;
    border-radius: 8px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Configuração da seção Início */
#clinica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    gap: 32px;
    text-align: justify;
}

.conteudo-clinica {
    flex: 1;
}

.imagem-clinica {
    flex-shrink: 0;
    max-width: 580px;
    height: auto;
}

#clinica h1 {
    margin-bottom: 32px; 
}

ul {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 30px; 
    list-style-position: outside;  
}

ul li {
    margin-bottom: 20px; 
}

.paragrafo2 {
    line-height: 150%;
    margin-bottom: 16px;
    margin-top: 0;
}

.botao2 {
    background-color: #FF9A6C;
    border-radius: 8px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin-right: 0;
}

.botao-transparente2 {
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.conteudo-clinica a {
    display: inline-block; 
    margin-top: 16px; 
    margin-right: 10px; 
}








