@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

body {
    color: #000;
}

/* Header - Menu */
.menu {
    background-color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu img {
    height: 48px;
}

.menu nav a {
    color: black;
    font-weight: 600;
    padding: 16px 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu nav a.selected {
    color: #FE7C12;
    font-weight: 700;
}

/* Configuração da seção Início */
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
    background-color: #fffaf5;
}

h1,h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 40px;
    margin-top: 35px;
    font-size: 18px;
}

.botao {
    background-color: #FE7C12;
    border: 1px solid black;
    box-shadow: 3px 3px 0px black;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    transition: 0.2s all ease;
}

.botao-transparente {
    background-color: transparent;
    color: #FE7C12;
    padding: 16px 32px;
    text-underline-offset: 4px;
    transition: 0.2s all ease;
}

.botao-transparente:hover {
    color: #be5703;
}

.botao:hover {
    background-color: #db680a;
}

.absolute {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Configuração da seção Clínica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#clinica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 40px;
    gap: 32px;
    background-color: #FCE4CF;
    font-family: League Spartan;
    width: 100%;
}

.imagem-clinica {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 32px;
}

.conteudo-clinica {
    flex: 1;
}

.imagem-clinica {
    flex-shrink: 0;
    max-width: 700px;
    height: auto;
    margin: 40px;
    padding: 30px;
    border-radius: 40px;
}

#clinica h1 {
    margin-bottom: 32px; 
}

ul {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 30px; 
    list-style-position: outside;  
}

ul li {
    margin-bottom: 20px; 
}

.paragrafo2 {
    line-height: 150%;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 18px;
}

.botao2 {
    background-color: #FE7C12;
    color: #fff;
    box-shadow: 3px 3px 0px black;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 16px 32px;
    text-decoration: none;
    margin-right: 0px;
}

.botao-transparente2 {
    background-color: transparent;
    color: #EE8B48;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.conteudo-clinica a {
    display: inline-block; 
    margin-top: 16px; 
    margin-right: 10px; 
}

/* Configuração da seção Laboratório */
#laboratorio {
    text-align: center;
    padding: 80px;
}

.conteudo-laboratorio {
    margin: 0 auto;
    max-width: 800px;
}

#laboratorio h1 {
    margin-bottom: 24px;
    font-size: 32px;
}

.imagem-laboratorio {
    max-width: 700px;
    height: auto;
    margin: 24px 0;
    border-radius: 10px;
}

#laboratorio p {
    font-size: 18px;
    line-height: 1.6;
    color: #5A5A5A;
}

/* Configuração da seção Dúvidas */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'League Spartan', sans-serif;
    color: #FE7C12;
}

#duvida {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 80px;
    background-color: #FFFAF5;
}

.duvida {
    position: relative;
    margin-bottom: 8px;
}

#duvida h2 {
    font-size: 2.5rem;
    margin-bottom: 24px;
    text-align: left;
    color: #FE7C12;
}

.duvida h3 {
    border: 2px solid #EE8B48;
    border-radius: 8px;
    padding: 24px;
    background-color: #FFC79C;
    color: #000;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.img-2 {
    border-radius: 64px;
}

.duvida .paragrafo {
    border-right: 1px solid #EE8B48;
    border-bottom: 1px solid #EE8B48;
    border-left: 1px solid #EE8B48;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    background-color: #FFF;
    color: #000;
    margin-bottom: 8px;
    font-family: 'Inter', sans-serif;
}

.duvida.ativa .paragrafo {
    opacity: 1;
    height: fit-content;
    padding: 60px 24px 10px 24px;
    overflow: visible;
}

